# ── FRONTEND (frontend/.env.local) ───────────────────────────────────────────
VITE_API_URL=http://localhost:3001/api
VITE_SOCKET_URL=http://localhost:3001

# ── BACKEND (backend/.env) ────────────────────────────────────────────────────
MONGO_URI=mongodb://localhost:27017/rphms
JWT_SECRET=your_jwt_secret_here
PORT=3001
CORS_ORIGIN=http://localhost:5173
CHAPA_SECRET_KEY="CHASECK_TEST-dz3dRdVvm5n9Kd66cL7A5q8qTZEfrART"
CHAPA_TEST_MODE=true


# ── STREAM VIDEO/CHAT ─────────────────────────────────────────────────────────
STREAM_API_KEY=jy4cdzbaxp7f
STREAM_API_SECRET=vzp4rex9s4bhksttk9x95ydu5kv6jafc3ekajtmq5bqaw2dpytpkr2nfzv8hejy6
